# make sure that there is no white-space (\s) after your inserted values

# string "true" if you want to enalbe production mode,
# any other value will be interpereted as false
IS_PRODUCTION_MODE="true"
ALLOWED_ORIGINS="http://localhost:3000 http://127.0.0.1:3000 http://192.168.1.100:3000 http://192.168.1.102:3000"
PORT=3001
DB_CONN_STR=mongodb://localhost:27017/Razi_Notify_DB
JWT_SECRET="random_generated_string__should_not_be_changed"
ROOT_ADMIN_USERNAME="some_username__should_not_be_changed"
ROOT_ADMIN_PASSWORD="some_password__should_not_be_changed"
AUTH_TOKEN_EXPIRE_SECONDS="2592000"
PROFILE_IMAGE_FILE_SIZE_IN_MB="2"
SMS_API_URL="https://some-sms-service.com/api"
SMS_API_KEY="get_key_from_your_sms_service"
SMS_SEND_FROM_NUMBER="example_300050005060_get_number_from_your_sms_service"